<template name="form">
  <form class="signup">
    <div class="two required fields">
      <div class="field">
        <input type="text" name="full_name" placeholder="Full Name" >
      </div>
      <div class="field">
        <input type="text" name="email" placeholder="Email Address" >
      </div>
    </div>
    <div class="field">
      <textarea  rows="5" name="bio">Tell us a bit about yourself</textarea>
    </div>
    <div class="field">
      <input type="text" name="website" placeholder="Personal Website URL" >
    </div>
    <div class="field">
      <input type="checkbox" name="freelance" value="available"> Available for Freelance?
    </div>
    <input type="submit" value="Sign Up">
  </form>
</template>
